extends ./layout/general.pug

block meta
	title Объект недвижимости

block scripts
	+mapScripts

block content
	main.main
		.container
			+breadcrumbs({items: ['Главная', 'Торговая недвижимость', 'Офис 980 кв. м']})

			.row.align-items-md-end
				.col-md-6
					h1.estate-title Офис 980 кв. м

				.estate-price-container.col-md-6
					.estate-price 355 000 000 ₽
					.estate-square
						| Площадь: 980.00 м
						sup 2

			.estate-print.d-none.d-lg-block
				a(href='/') Распечатать

			.row
				.estate-side-1.col-md-6
					figure.estate-thumb
						.carousel-container(
							data-items='1'
							data-margin='15'
							data-dots-container='.estate-thumb-list')
							.carousel.owl-carousel
								img.img-fluid.img-block(src='t/7.jpg' alt)
								img.img-fluid.img-block(src='t/7.jpg' alt)
								img.img-fluid.img-block(src='t/7.jpg' alt)
								img.img-fluid.img-block(src='t/7.jpg' alt)
					.estate-thumb-list.d-flex.flex-wrap.justify-content-center
						- var productThumbs = ['8', '9', '10', '11'];
						each productThumb in productThumbs
							button.estate-thumb-item
								img.img-fluid.img-block(src='t/'+ productThumb +'.jpg' alt)

					.widget._md
						.h3 Характеристики
						ul.estate-chr-list.list-unstyled
							- var chrList = [{title: 'Тип сделки', value: 'Продажа'}, {title: 'Площадь', value: '980.00 м²'}, {title: 'Площадь земельного участка', value: '1.0 сот.'}, {title: 'Общая площадь', value: '800.00 м²'}, {title: 'Стоимость', value: '355 000 000 ₽'}, {title: 'Цена за м²', value: '0 ₽/м²'}, {title: 'Окупаемость', value: '5 лет'}];
							each chrItem in chrList
								li.estate-chr.d-flex.justify-content-between
									span.estate-chr-title= chrItem.title
									span.estate-chr-v= chrItem.value

				.estate-side-2.col-md-6
					.estate-desc.d-none.d-md-block
						p
							b Объект расположен в ЦАО г. Москвы
							| , на первой линии домов, на первом этаже жилого 5-ти этажного дома. Район Золотой мили. Отдельный вход с улицы. Из больших распахивающихся витрин открывается вид на реку, памятник Петру I, Красный Октябрь, Музеон и Крымский мост. Интенсивный пешеходный и автомобильный трафик. Высота потолков - 4 м. Электрическая мощность - 50 кВт.

						p
							b Коммерческие условия:
							br
							| Общая площадь - 131,9 кв.м.
							br
							| Арендатор: ресторан &laquo;Винный Базар&raquo;
							br
							| МАП - 695 500 руб., ГАП - 8 346 000 руб.
							br
							| Срок окупаемости - 13,2 лет (без учета индексации)
							br
							| Доходность - 7,6 %
							br
							| Стоимость - 110 000 000 руб.

					.estate-metro Баррикадная

					#estate-map.estate-map.map(
						data-map='{"zoom" : "16", "latitude" : "55.77497626047474", "longitude" : "37.60928011373903"}')

					.estate-realtor.d-sm-flex.justify-content-sm-between
						.estate-realtor-info
							.estate-realtor-name Анна Андреевна
							a.estate-realtor-mail(href='mailto:anna@taktika-invest.ru') anna@taktika-invest.ru
							p.estate-realtor-tel
								a(href='/') Показать номер телефона

						figure.estate-realtor-thumb
							img(
								src='i/user.svg'
								width='82'
								alt)

					form.form
						.row
							.form-group.col-md
								input.form-control-light.form-control(
									type='text'
									name='your-name'
									placeholder='Ваше имя')
							.form-group.col-md
								input.form-control-light.form-control(
									type='tel'
									name='your-tel'
									placeholder='Номер телефона')
						.row
							.form-group.col-md-6
								input.btn-primary.btn-block.btn(
									type='submit'
									value='Отправить')

			.widget._md
				h2.widget-title
					.d-flex.justify-content-between
						span Похожие объекты
						span.estate-relation-nav.owl-nav

				.carousel-container(
					data-items='4'
					data-margin='30'
					data-loop='1'
					data-nav-container='.estate-relation-nav')
					.estate-relation-carousel.carousel.owl-carousel
						- var posts = [{thumb: '2', title: 'Дом 980 кв. м', price: '355 000 000 ₽', chrs: ['Площадь: 980. 00 м<sup>2</sup>', 'Комнат: 9']}, {thumb: '3', title: 'Дом на Рублевском шоссе', price: '250 000 ₽', chrs: ['Площадь: 850.00 м<sup>2</sup>', 'Комнат: 6']}, {thumb: '4', title: 'Таун-хаус в районе Барвиха-Клаб', chrs: ['Площадь: 330.00 м<sup>2</sup>', 'Комнат: 7', 'Город, адрес: ул. Утренняя, 3']}, {thumb: '5', title: 'Продажа коттеджа р-н Ленинский', price: '80 000 000 ₽', chrs: ['Площадь: 1100.00 м<sup>2</sup>', 'Комнат: 2']}, {thumb: '3', title: 'Дом на Рублевском шоссе', price: '250 000 ₽', chrs: ['Площадь: 850.00 м<sup>2</sup>', 'Комнат: 6']}];
								each post in posts
									+postsItem(post)