mixin header(type)
	- var _type = type ? ' _' + type : '';
	- var _navbarClass = type && type == 'home' ? 'dark' : 'light';

	header(class='header' + _type)
		.container
			.row.align-items-center.justify-content-between
				.col
					+logo(_type, true)

				.col.d-none.d-sm-flex.align-items-center.justify-content-end
					.d-none.d-lg-block
						include ./_tel.pug

					include ./_call-button.pug

				div(class='navbar-' + _navbarClass + ' d-flex d-lg-none justify-content-end')
					button.navbar-toggler(
						type='button'
						data-toggle='collapse'
						data-target='#navbarSupportedContent'
						aria-controls='navbarSupportedContent'
						aria-expanded='false'
						aria-label='Toggle navigation')
						span.navbar-toggler-icon