form.form
	h5.form-title У вас остались вопросы?
	p.form-info Заполните форму, и наши менеджеры свяжутся с вами
	.row
		.form-group.col-md
			input.form-control-light.form-control(
				type='text'
				name='your-name'
				placeholder='Ваше имя')
		.form-group.col-md
			input.form-control-light.form-control(
				type='tel'
				name='your-tel'
				placeholder='Номер телефона')
	.form-group
		textarea.form-control-light.form-control(
			name='your-message'
			placeholder='Ваше сообщение')
	.row
		.form-group.col-md
			input.btn-primary.btn-block.btn(
				type='submit'
				value='Отправить')
		.form-group.col-md
			label.custom-control.custom-checkbox
				input.custom-control-input(
					type='checkbox'
					value='')
				.form-accept.custom-control-label
					| Согласен с 
					a(href='/') политикой конфиденциальности 
					| сайта